<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<div
    class="container-fluid"
    style="
        height: 25vh;
        background-color: rgb(238, 238, 238);
        "
>
    <div class="container">
        <div class="row">
            <div class="col" style="padding-left: 0;">
                <h1 style="font-size: 5rem; padding-top:30px;">{{title}}</h1>
                <span class="lead">{{subtitle}}</span>               
            </div>
            <div class="col text-right">
                <button
                    *ngIf="button === 'logout'"
                    type="button"
                    style="margin-top:30px; border: 1px solid rgb(44, 44, 44);";
                    class="btn btn-danger"
                    (click)='onLogout()'
                >
                    logout
                </button>

                <button
                    *ngIf="button === 'view-cart'"
                    type="button"
                    style="margin-top:30px; border: 1px solid rgb(44, 44, 44);"
                    class="btn btn-light"
                    routerLink="/cart"
                >
                <i class="fas fa-shopping-cart"></i>
                    view cart
                </button>
            </div>
        </div>
    </div>
</div>
<br/>
