<main class="container">
 
    <!-- Left Column / Headphones Image -->
    <div class="left-column">
      <!-- <img data-image="black" src="../../assets/img/iphone12.png" alt="">
      <img data-image="blue" src="../../assets/img/iphone12.png" alt=""> -->
      <img data-image="red" class="active" src="../../assets/img/iphone12.png" alt="">
    </div>
   
   
    <!-- Right Column -->
    <div class="right-column">
   
      <!-- Product Description -->
      <div class="product-description">
        <h1>iPhone 12</h1>
        <p>5G tốc độ cao, Apple A14 - Chip mạnh nhất trong mọi smartphone.Thiết kế hoàn toàn mới. Mặt gốm siêu cứng. Cảm biến LiDAR. Chế độ chụp ban đêm trên tất cả các camera.</p>
      </div>
   
      <!-- Product Configuration -->
      <div class="product-configuration">
   
        <!-- Product Color -->
        <div class="product-color">
          <span>Color</span>
   
          <div class="color-choose">
            <div>
              <input data-image="red" type="radio" id="red" name="color" value="red" checked>
              <label for="red"><span></span></label>
            </div>
            <div>
              <input data-image="blue" type="radio" id="blue" name="color" value="blue">
              <label for="blue"><span></span></label>
            </div>
            <div>
              <input data-image="black" type="radio" id="black" name="color" value="black">
              <label for="black"><span></span></label>
            </div>
          </div>
   
        </div>
   
        <!-- Cable Configuration -->
        <div class="cable-config">
   
          <div class="cable-choose">
            <span>Manufacter: Apple</span>
          </div>
   
          <a href="#">How to configurate your iPhone</a>
        </div>
      </div>
   
      <!-- Product Pricing -->
      <div class="product-price">
        <span>1399$</span>
        <a href="#" class="cart-btn">Add to cart</a>
      </div>
    </div>
  </main>