<app-header title="Products" subtitle="All the available products in our store" button="view-cart"></app-header>
<div class="col-sm-9 padding-right" style="margin: 0 auto;">
    <div class="features_items"><!--features_items-->
        <div class="col-sm-4" *ngFor="let item of datas">
            <div class="product-image-wrapper">
                <div class="single-products">
                        <div class="productinfo text-center">
                            <img src={{item.images}} alt="" />
                            <h2>{{item.title}}</h2>
                            <p>Easy Polo Black Edition</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </div>
                        <div class="product-overlay">
                            <div class="overlay-content">
                                <h2>$56</h2>
                                <p>Easy Polo Black Edition</p>
                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        
    </div><!--features_items-->   
</div>